*~
*.dll
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.sdf
*.opensdf
*.dbmdl
*.dbproj.schemaview
*.schemaview
[Bb]in
[Dd]ebug
[Oo]bj
[Rr]elease
[Tt]umbs.db
*.psess
*.vspx
.vs/
*.js.map
*.css.map

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# StyleCop
StyleCop.Cache

# Sonar
.sonar/
sonar-project.properties

# Node.js
node_modules

# Bower
*/wwwroot/lib
bower_modules

# NuGet
*.nupkg
/packages/*
!/packages/repositories.config
!NuGet.exe

# Rider - user specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/
**/.idea/config/applicationhost.config
**/.idea/sonarlint/

# Rider - sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml