*~
*.dll
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.sdf
*.opensdf
*.dbmdl
*.dbproj.schemaview
*.schemaview
[Bb]in
[Dd]ebug
[Oo]bj
[Rr]elease
[Tt]umbs.db
*.psess
*.vspx
.vs/
*.js.map
*.css.map

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# StyleCop
StyleCop.Cache

# Sonar
.sonar/
sonar-project.properties

# Node.js
node_modules

# Bower
*/wwwroot/lib

# NuGet
*.nupkg
/packages/*
!/packages/repositories.config
!NuGet.exe