<!--<form (ngSubmit)="onSubmit(f)" #f="ngForm">

<div class="col-md-6" style="margin:20px;padding:20px;background-color:lavender; border: 1px solid black;">
    <br>
<div ctrl-factory *ngFor="let input of form.inputFields" [model]="input">
</div>
<br>
<button type="submit" disabled="{{disabled}}" class="btn btn-primary" >{{form.customProperties.submitButtonLabel}} </button>
</div>
</form>-->

<div class="app">
    <dynamic-form [config]="form.inputFields" (submitted)="formSubmitted($event)">
    </dynamic-form>
</div>
<div  *ngIf="outputs != null ">
<div *ngFor="let output of form.outputFields"  >
    {{outputs[output.label]}}
    </div>
</div>

