<div>
    <h1>
        <strong>{{(responseMetadata || {}).title || (metadata || {}).label}}</strong>
    </h1>

    <form v-if="initialized && visibleInputFields.length > 0"
        v-on:submit="submit(app, form, $event, true)">
        <FormInput v-for="(inputField, i) in visibleInputFields"
            :key="inputField.metadata.id"
            v-bind:id="i+1"
            v-bind:field="inputField"
            v-bind:app="app"
            v-bind:form="form"
            v-bind:tabindex="tabindex * 100 + inputField.metadata.orderIndex">
        </FormInput>

        <button type="submit"
            tabindex="-1">{{submitButtonLabel}}</button>
    </form>
    <div class="response"
        v-if="outputFieldValues != null">
        <FormOutput v-if="outputField.metadata.hidden == false"
            v-for="outputField in outputFieldValues"
            :key="outputField.metadata.id"
            v-bind:field="outputField"
            v-bind:app="app"
            v-bind:form="form"
            v-bind:parent="self" />
    </div>
</div>