<div class="container" v-if="initialized">
    <div class="row">
        <div class="content">
            <h1>
                <strong>{{responseMetadata.title || metadata.label}}</strong>
            </h1>

            <form v-on:submit.prevent="submit(app, form, $event, true)">
                <component v-for="(inputField, i) in visibleInputFields"
                    is="FormInput"
                    v-bind:id="i+1"
                    v-bind:field="inputField"
                    v-bind:app="app"
                    v-bind:form="form"
                    v-bind:tabindex="tabindex * 100 + inputField.metadata.orderIndex">
                </component>

                <button type="submit"
                    tabindex="-1">{{submitButtonLabel}}</button>
            </form>
            <div class="response"
                v-if="outputFieldValues != null">
                <component v-for="outputField in outputFieldValues"
                    v-if="outputField.metadata.hidden == false"
                    is="FormOutput"
                    v-bind:field="outputField"
                    v-bind:app="app"
                    v-bind:form="form"
                    v-bind:parent="parent">
                </component>
            </div>
        </div>
    </div>
</div>