.paginator {
	margin: .5rem 0;
	padding-left: 0;
}

.paginator>li {
	display: inline-block;
}

.paginator>li>a, .paginator>li>button {
	padding: 2px 10px;
	margin: 1px;
	display: inline-block;
	background: #eee;
}

.paginator>li>a.current, .paginator>li>button.current {
	background: #4f4f4f;
	color: #fff;
}