alert-output{
    .alert {
    margin: 5px 8px;
    padding: 10px 15px;
    border: 1px solid #bbb;
}

.alert>.heading {
    font-weight: bold;
    font-size: 16px;
}

.alert.success {
    background: #EBFFF8;
}

.alert.warning {
    background: #FDFFEB;
}

.alert.danger {
    background: #FFEAEA;
}
}