.choices__inner {
	min-width:250px;
	min-height: 32px;
 }

 .choices__input {
	 min-width: 100px;
	 background-color: #f9f9f9 !important;
	 margin-bottom: 5px !important;
	 border: 0 !important;
	 border-radius: 0 !important;
	 padding: 4px 0 4px 2px !important;
 }