component-form{
.response {
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.inline-form .response {
	margin-top:0;
	padding: 10px 15px;
}

.inline-form h2 {
	margin: 0;
	background: #eee;
	padding: 10px 15px 15px;
	font-size: 15px;
}
}